# mero(d)
data/
corpus/
certs/
contracts/*
!contracts/.gitkeep

# rust
**/res/*
target
target/

.DS_Store
.idea/
.vscode/

# typescript
*.map
coverage/
dist/
lib/
node_modules/
output/*

# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
