[workspace.package]
authors = ["Calimero Limited <info@calimero.network>"]
edition = "2021"
repository = "https://github.com/calimero-is-near/cali2.0-experimental"
license = "MIT OR Apache-2.0"

[workspace]
resolver = "2"
members = ["./chat-p0c", "./apps/kv-store", "./sdk", "./vm-runner"]

[workspace.dependencies]
borsh = "1.3.1"
bs58 = "0.5.0"
camino = "1.1.6"
clap = "4.4.18"
color-eyre = "0.6.2"
dirs = "5.0.1"
fragile = "2.0.0"
libp2p = "0.53.2"
ouroboros = "0.18.3"
owo-colors = "3.5.0"
serde = "1.0.196"
serde_json = "1.0.113"
thiserror = "1.0.56"
tokio = "1.35.1"
toml = "0.8.9"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
wasmer = "4.2.5"
wasmer-types = "4.2.5"

[profile.app-release]
inherits = "release"
codegen-units = 1
# Tell `rustc` to optimize for small code size.
opt-level = "z"
lto = true
debug = false
panic = "abort"
# Opt into extra safety checks on arithmetic operations https://stackoverflow.com/a/64136471/249801
overflow-checks = true
