[workspace.package]
authors = ["Calimero Limited <info@calimero.network>"]
edition = "2021"
repository = "https://github.com/calimero-is-near/cali2.0-experimental"
license = "MIT OR Apache-2.0"

[workspace]
resolver = "2"
members = [
  "./crates/identity",
  "./crates/network",
  "./crates/node",
  "./crates/primitives",
  "./crates/runtime",
  "./crates/sdk",
  "./crates/store",
  "./crates/server",

  "./apps/kv-store",
  "./apps/only-peers",
]

[workspace.dependencies]
axum = "0.7.4"
async-graphql = "7.0.2"
async-graphql-axum = "7.0.2"
borsh = "1.3.1"
bs58 = "0.5.0"
camino = "1.1.6"
clap = "4.4.18"
color-eyre = "0.6.2"
dirs = "5.0.1"
eyre = "0.6.12"
fragile = "2.0.0"
futures-util = "0.3.30"
jsonrpsee = "0.22.0"
hex = "0.4.3"
libp2p = "0.53.2"
multiaddr = "0.18.1"
multibase = "0.9.1"
ouroboros = "0.18.3"
owo-colors = "3.5.0"
rand = "0.8.5"
rocksdb = "0.22.0"
sha2 = "0.10.8"
serde = "1.0.196"
serde_json = "1.0.113"
thiserror = "1.0.56"
tokio = "1.35.1"
tokio-stream = "0.1.14"
tokio-util = "0.7.10"
tokio-tungstenite = "0.20.1"
toml = "0.8.9"
tower-http = "0.5.2"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
warp = "0.3.6"
wasmer = "4.2.5"
wasmer-types = "4.2.5"

[profile.app-release]
inherits = "release"
codegen-units = 1
# Tell `rustc` to optimize for small code size.
opt-level = "z"
lto = true
debug = false
panic = "abort"
# Opt into extra safety checks on arithmetic operations https://stackoverflow.com/a/64136471/249801
overflow-checks = true
