[workspace.package]
authors = ["Calimero Limited <info@calimero.network>"]
edition = "2021"
repository = "https://github.com/calimero-network/core"
license = "MIT OR Apache-2.0"
license-file = "LICENSE.md"

[workspace]
resolver = "2"
members = [
  "./crates/application",
  "./crates/identity",
  "./crates/meroctl",
  "./crates/network",
  "./crates/node",
  "./crates/node-primitives",
  "./crates/primitives",
  "./crates/runtime",
  "./crates/sdk",
  "./crates/sdk/macros",
  "./crates/server",
  "./crates/server-primitives",
  "./crates/store",

  "./apps/kv-store",
  "./apps/only-peers",

  "./contracts/package-manager",
]

[workspace.dependencies]
assert-json-diff = "2.0.2"
axum = "0.7.4"
base64 = "0.22.0"
borsh = "1.3.1"
bs58 = "0.5.0"
bytes = "1.6.0"
camino = "1.1.6"
chrono = "0.4.37"
clap = "4.4.18"
color-eyre = "0.6.2"
dirs = "5.0.1"
ed25519-dalek = "2.1.1"
eyre = "0.6.12"
fragile = "2.0.0"
futures-util = "0.3.30"
hex = "0.4.3"
libp2p = "0.53.2"
libp2p-stream = "0.1.0-alpha.1"
multiaddr = "0.18.1"
# multibase = "0.9.1"
near-jsonrpc-client = "0.8.0"
near-jsonrpc-primitives = "0.20.0"
near-primitives = "0.20.0"
near-sdk = "5.0.0"
near-workspaces = "0.10.0"
ouroboros = "0.18.3"
owo-colors = "3.5.0"
prettyplease = "0.2.17"
proc-macro2 = "1.0"
quote = "1.0"
rand = "0.8.5"
rand_chacha = "0.3.1"
reqwest = "0.12.2"
rocksdb = "0.22.0"
sha2 = "0.10.8"
sha3 = "0.10.8"
semver = "1.0.22"
serde = "1.0.196"
serde_json = "1.0.113"
syn = "2.0"
thiserror = "1.0.56"
tokio = "1.35.1"
tokio-test = "0.4.4"
tokio-util = "0.7.11"
toml = "0.8.9"
toml_edit = { version = "0.22.14", features = ["serde"] }
tower = "0.4.13"
tower-http = "0.5.2"
tower-sessions = "0.12.0"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
trybuild = "1.0"
ureq = "2.9.7"
wasmer = "4.2.5"
wasmer-types = "4.2.5"
web3 = "0.19.0"

[profile.app-release]
inherits = "release"
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"
overflow-checks = true
