version: '3.8'

services:
  coordinator_init:
    image: merod-image:latest
    command: >
      --node-name coordinator --home /data init --server-port 2427 --swarm-port 2527
    volumes:
      - ./data:/data

  coordinator_run:
    image: merod-image:latest
    ports:
      - "2427:2427"
      - "2527:2527"
    command: >
      --node-name coordinator --home /data run --node-type coordinator
    volumes:
      - ./data:/data
    depends_on:
      - coordinator_init

  app_node_init:
    image: merod-image:latest
    command: >
      --node-name node1 --home /data init --server-port 2428 --swarm-port 2528
    volumes:
      - ./data:/data

  app_node_run:
    image: merod-image:latest
    ports:
      - "2428:2428"
      - "2528:2528"
    command: >
      --node-name node1 --home /data run
    volumes:
      - ./data:/data
      - ./certs:/certs
    depends_on:
      - app_node_init