[package]
name = "calimero-context-config-near"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
near-sdk = { workspace = true, features = ["unstable"] }
calimero-context-config = { path = "../../crates/context/config" }

[dev-dependencies]
ed25519-dalek.workspace = true
eyre.workspace = true
near-crypto.workspace = true
near-workspaces.workspace = true
rand.workspace = true
serde_json.workspace = true
tokio.workspace = true

[lints]
workspace = true
