[package]
name = "calimero-runtime"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
fragile.workspace = true
ouroboros.workspace = true
owo-colors = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
ureq = "2.9.7"
wasmer.workspace = true
wasmer-types.workspace = true

[[example]]
name = "demo"

[dev-dependencies]
assert-json-diff.workspace = true
clap = { workspace = true, features = ["derive"] }
eyre.workspace = true
owo-colors.workspace = true
rand.workspace = true

[features]
host-traces = ["owo-colors"]
