[package]
name = "calimero-runtime"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
description.workspace = true
publish = true

[dependencies]
borsh = { workspace = true, features = ["derive"] }
bytes.workspace = true
eyre.workspace = true
ed25519-dalek.workspace = true
fragile.workspace = true
futures-util = { workspace = true, features = ["io"] }
ouroboros.workspace = true
owo-colors = { workspace = true, optional = true }
rand.workspace = true
serde = { workspace = true, features = ["derive"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["rt"] }
tokio-stream.workspace = true
tracing.workspace = true
ureq.workspace = true
wasmer.workspace = true
wasmer-types.workspace = true

calimero-primitives.workspace = true
calimero-node-primitives.workspace = true
calimero-sys.workspace = true
calimero-storage.workspace = true

[[example]]
name = "demo"

[dev-dependencies]
assert-json-diff.workspace = true
eyre.workspace = true
owo-colors.workspace = true
rand.workspace = true
serde_json.workspace = true

[features]
host-traces = ["owo-colors"]
