[package]
name = "calimero-sdk-macros"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
description.workspace = true
publish = true

[lib]
proc-macro = true

[dependencies]
prettyplease.workspace = true
proc-macro2.workspace = true
quote.workspace = true
syn = { workspace = true, features = ["extra-traits"] }
thiserror.workspace = true
sha2.workspace = true

[features]
nightly = []

[lints]
workspace = true
