[package]
name = "calimero-storage"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
description.workspace = true
publish = true

[dependencies]
borsh = { workspace = true, features = ["derive"] }
calimero-primitives = { workspace = true, features = ["borsh"] }
eyre.workspace = true
ed25519-dalek.workspace = true
fixedstr = { workspace = true, features = ["flex-str", "serde", "std"] }
hex.workspace = true
indexmap.workspace = true
serde = { workspace = true, features = ["derive"] }
sha2.workspace = true
thiserror.workspace = true

calimero-sdk.workspace = true
calimero-storage-macros.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rand.workspace = true

[dev-dependencies]
claims.workspace = true
hex.workspace = true
serial_test.workspace = true
velcro.workspace = true

calimero-sdk.workspace = true

[features]
default = []
testing = []  # Exposes test utilities for dependent crates

[lints]
workspace = true
