[package]
name = "calimero-storage"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
description.workspace = true
publish = true

[dependencies]
borsh = { workspace = true, features = ["derive"] }
calimero-primitives = { workspace = true, features = ["borsh"] }
eyre.workspace = true
fixedstr = { workspace = true, features = ["flex-str", "serde", "std"] }
hex.workspace = true
indexmap.workspace = true
serde = { workspace = true, features = ["derive"] }
sha2.workspace = true
thiserror.workspace = true
tracing.workspace = true

calimero-sdk.workspace = true
calimero-storage-macros.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
ed25519-dalek.workspace = true
rand.workspace = true

[dev-dependencies]
claims.workspace = true
criterion = { version = "0.5.1", features = ["html_reports"] }
hex.workspace = true
serial_test.workspace = true
velcro.workspace = true

calimero-sdk.workspace = true

[[bench]]
name = "collections"
harness = false

[features]
default = []
testing = []  # Exposes test utilities for dependent crates
