[package]
name = "calimero-storage"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = true

[dependencies]
borsh = { workspace = true, features = ["derive"] }
eyre.workspace = true
fixedstr = { workspace = true, features = ["flex-str", "serde", "std"] }
hex.workspace = true
indexmap.workspace = true
serde = { workspace = true, features = ["derive"] }
sha2.workspace = true
thiserror.workspace = true

calimero-sdk.workspace = true
calimero-storage-macros.workspace = true
calimero-node-primitives.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
rand.workspace = true

[dev-dependencies]
claims.workspace = true
hex.workspace = true
velcro.workspace = true

calimero-sdk.workspace = true

[lints]
workspace = true
