[package]
name = "calimero-config"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
description.workspace = true
publish = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bs58.workspace = true
camino = { workspace = true, features = ["serde1"] }
eyre.workspace = true
libp2p-identity = { workspace = true, features = ["peerid", "serde"] }
multiaddr.workspace = true
serde = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["fs"] }
toml.workspace = true

calimero-context.workspace = true
calimero-node-primitives.workspace = true
calimero-server = { workspace = true }
calimero-network-primitives.workspace = true
mero-auth = { path = "../auth" }
