[package]
name = "merod"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
alloy.workspace = true
camino = { workspace = true, features = ["serde1"] }
clap = { workspace = true, features = ["env", "derive"] }
color-eyre.workspace = true
colored = { workspace = true }
const_format.workspace = true
ic-agent.workspace = true
dirs.workspace = true
ed25519-consensus.workspace = true
eyre.workspace = true
hex.workspace = true
libp2p.workspace = true
multiaddr.workspace = true
near-crypto.workspace = true
rand.workspace = true
reqwest = { workspace = true, features = ["json"] }
schemars = { workspace = true }
semver = { workspace = true, features = ["serde"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
similar = { workspace = true }
starknet.workspace = true
tokio = { workspace = true, features = ["io-std", "macros", "fs"] }
toml.workspace = true
toml_edit.workspace = true
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }
url = { workspace = true, features = ["serde"] }

calimero-blobstore.workspace = true
calimero-config.workspace = true
calimero-context.workspace = true
calimero-context-config = { workspace = true, features = ["client"] }
calimero-node.workspace = true
calimero-network-primitives.workspace = true
calimero-server = { workspace = true, features = ["jsonrpc", "websocket", "admin"] }
calimero-store.workspace = true
calimero-store-rocksdb.workspace = true
calimero-utils-actix.workspace = true
calimero-version.workspace = true

[package.metadata.workspaces]
independent = true

[lints]
workspace = true
