[package]
name = "calimero-node"
version.workspace = true
authors.workspace = true
description.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = true

[dependencies]
actix.workspace = true
async-trait.workspace = true
borsh.workspace = true
calimero-dag.workspace = true
camino = { workspace = true, features = ["serde1"] }
ed25519-dalek.workspace = true
eyre.workspace = true
flate2.workspace = true
futures-util = { workspace = true, features = ["io"] }
hex.workspace = true
sha2.workspace = true
tar.workspace = true
libp2p.workspace = true
lz4_flex.workspace = true
prometheus-client.workspace = true
rand.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
tokio = { workspace = true, features = ["io-std", "macros"] }
tracing.workspace = true

calimero-context.workspace = true
calimero-context-config.workspace = true
calimero-context-primitives.workspace = true
calimero-crypto.workspace = true
calimero-blobstore.workspace = true
calimero-network.workspace = true
dashmap.workspace = true
calimero-network-primitives.workspace = true
calimero-node-primitives.workspace = true
calimero-primitives = { workspace = true, features = ["borsh", "rand"] }
calimero-runtime.workspace = true
calimero-server.workspace = true
calimero-storage.workspace = true
calimero-store = { workspace = true, features = ["datatypes"] }
calimero-store-encryption.workspace = true
calimero-store-rocksdb.workspace = true
calimero-tee-attestation.workspace = true
calimero-utils-actix.workspace = true

[dev-dependencies]
async-trait.workspace = true
calimero-dag = { workspace = true, features = ["testing"] }
