[package]
name = "calimero-node"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
borsh.workspace = true
camino = { workspace = true, features = ["serde1"] }
clap.workspace = true
eyre.workspace = true
futures-util = { workspace = true, features = ["io"] }
libp2p.workspace = true
owo-colors.workspace = true
rand.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["io-std", "macros"] }
tracing.workspace = true
url.workspace = true

calimero-context = { path = "../context" }
calimero-blobstore = { path = "../store/blobs" }
calimero-network = { path = "../network" }
calimero-node-primitives = { path = "../node-primitives" }
calimero-primitives = { path = "../primitives" }
calimero-runtime = { path = "../runtime" }
calimero-server = { path = "../server", features = ["jsonrpc", "websocket", "admin"] }
calimero-storage = { path = "../storage" }
calimero-store = { path = "../store", features = ["datatypes"] }

[lints]
workspace = true
