[package]
name = "calimero-node"
version = "0.2.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = true

[dependencies]
actix.workspace = true
borsh.workspace = true
camino = { workspace = true, features = ["serde1"] }
either.workspace = true
eyre.workspace = true
futures-util = { workspace = true, features = ["io"] }
libp2p.workspace = true
prometheus-client.workspace = true
rand.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
tokio = { workspace = true, features = ["io-std", "macros"] }
tracing.workspace = true

calimero-context.workspace = true
calimero-context-config.workspace = true
calimero-context-primitives.workspace = true
calimero-crypto.workspace = true
calimero-blobstore.workspace = true
calimero-network.workspace = true
calimero-network-primitives.workspace = true
calimero-node-primitives.workspace = true
calimero-primitives = { workspace = true, features = ["borsh"] }
calimero-server = { workspace = true, features = ["jsonrpc", "metrics", "websocket", "admin"] }
calimero-store = { workspace = true, features = ["datatypes"] }
calimero-store-rocksdb.workspace = true
calimero-utils-actix.workspace = true

[lints]
workspace = true
