[package]
name = "meroctl"
version = "0.4.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bs58.workspace = true
camino = { workspace = true, features = ["serde1"] }
chrono.workspace = true
clap = { workspace = true, features = ["env", "derive"] }
color-eyre.workspace = true
const_format.workspace = true
dirs.workspace = true
eyre.workspace = true
futures-util.workspace = true
libp2p.workspace = true
notify.workspace = true
rand.workspace = true
reqwest = { workspace = true, features = ["json"] }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["io-std", "macros"] }
tokio-tungstenite.workspace = true
url = { workspace = true, features = ["serde"] }

calimero-config.workspace = true
calimero-primitives.workspace = true
calimero-server-primitives.workspace = true

[lints]
workspace = true
