[package]
name = "calimero-sys"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = true

[dependencies]
cfg-if.workspace = true

[lints]
workspace = true
