[package]
name = "calimero-build-utils"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
description.workspace = true
publish = false

[lib]
path = "src/lib.rs"
