[package]
name = "calimero-context-config"
version.workspace = true
description.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish = true

[dependencies]
bs58.workspace = true
borsh = { workspace = true, features = ["derive"] }
ed25519-dalek.workspace = true
either = { workspace = true, optional = true }
eyre = { workspace = true, optional = true }
near-crypto = { workspace = true, optional = true }
near-jsonrpc-client = { workspace = true, optional = true }
near-jsonrpc-primitives = { workspace = true, optional = true }
near-primitives = { workspace = true, optional = true }
reqwest = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
thiserror.workspace = true
url = { workspace = true, optional = true }

[features]
default = []

client = [
  "near_client",
  "dep:either",
  "dep:eyre",
  "reqwest/json",
  "url/serde",
]

near_client = ["dep:near-crypto", "dep:near-jsonrpc-client", "dep:near-jsonrpc-primitives", "dep:near-primitives"]
