[package]
name = "calimero-context-primitives"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
description.workspace = true
publish = true

[dependencies]
actix.workspace = true
async-stream.workspace = true
borsh = { workspace = true, features = ["derive"] }
eyre.workspace = true
futures-util.workspace = true
hex.workspace = true
rand.workspace = true
serde.workspace = true
sha2.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["sync", "macros"] }
tracing.workspace = true
url.workspace = true

calimero-context-config = { workspace = true, features = ["client"] }
calimero-primitives = { workspace = true, features = ["borsh", "rand"] }
calimero-node-primitives.workspace = true
calimero-store = { workspace = true, features = ["datatypes"] }
calimero-utils-actix.workspace = true

[dev-dependencies]
calimero-blobstore.workspace = true
calimero-network-primitives.workspace = true
tempfile = "3.23"
