[package]
name = "calimero-context"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
camino = { workspace = true, features = ["serde1"] }
eyre.workspace = true
futures-util.workspace = true
near-jsonrpc-client.workspace = true
near-jsonrpc-primitives.workspace = true
near-primitives.workspace = true
reqwest.workspace = true
semver = { workspace = true, features = ["serde"] }
serde.workspace = true
serde_json.workspace = true
sha2.workspace = true
tokio = { workspace = true, features = ["sync"] }
tracing.workspace = true

calimero-primitives = { path = "../primitives" }
calimero-network = { path = "../network" }
calimero-store = { path = "../store" }
