[package]
name = "calimero-context"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
actix.workspace = true
either.workspace = true
eyre.workspace = true
ouroboros.workspace = true
rand.workspace = true
serde.workspace = true
tokio = { workspace = true, features = ["sync", "macros"] }

calimero-context-config = { workspace = true, features = ["client"] }
calimero-context-primitives.workspace = true
calimero-primitives = { workspace = true, features = ["borsh", "rand"] }
calimero-runtime.workspace = true
calimero-node-primitives.workspace = true
calimero-store = { workspace = true, features = ["datatypes"] }
calimero-utils-actix.workspace = true

[lints]
workspace = true
