[package]
name = "calimero-context"
version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
description.workspace = true
publish = true

[dependencies]
actix.workspace = true
borsh.workspace = true
either.workspace = true
eyre.workspace = true
futures-util.workspace = true
memchr.workspace = true
ouroboros.workspace = true
prometheus-client.workspace = true
rand.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = ["sync", "macros"] }
tracing.workspace = true

calimero-context-config = { workspace = true, features = ["client"] }
calimero-context-primitives.workspace = true
calimero-primitives = { workspace = true, features = ["borsh", "rand"] }
calimero-runtime.workspace = true
calimero-node-primitives.workspace = true
calimero-storage.workspace = true
calimero-store = { workspace = true, features = ["datatypes"] }
calimero-utils-actix.workspace = true

[lints]
workspace = true
