[package]
name = "calimero-server"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
axum.workspace = true
axum-server.workspace = true
axum-server-dual-protocol.workspace = true
base64.workspace = true
borsh = { workspace = true, features = ["derive"] }
bs58.workspace = true
chrono.workspace = true
ed25519-dalek.workspace = true
eyre.workspace = true
futures-util = { workspace = true, optional = true }
libp2p.workspace = true
local-ip-address.workspace = true
multiaddr.workspace = true
rand.workspace = true
rcgen.workspace = true
reqwest.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
sha2.workspace = true
starknet-core.workspace = true
starknet-crypto.workspace = true
starknet-macros.workspace = true
starknet-providers.workspace = true
thiserror.workspace = true
tokio.workspace = true
tower.workspace = true
tower-http = { workspace = true, features = ["cors", "fs"] }
tower-sessions = { workspace = true, optional = true }
tracing.workspace = true
x509-parser.workspace = true

calimero-context = { path = "../context" }
calimero-node-primitives = { path = "../node-primitives" }
calimero-identity = { path = "../identity" }
calimero-primitives = { path = "../primitives" }
calimero-server-primitives = { path = "../server-primitives" }
calimero-store = { path = "../store", features = ["serde"] }

[dev-dependencies]
color-eyre.workspace = true
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[features]
jsonrpc = []
websocket = ["axum/ws", "dep:futures-util"]
admin = ["dep:tower-sessions"]

[lints]
workspace = true
