[package]
name = "calimero-server"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
axum.workspace = true
async-graphql = { workspace = true, optional = true }
async-graphql-axum = { workspace = true, optional = true }
eyre.workspace = true
libp2p.workspace = true
multiaddr.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
tokio.workspace = true
tower = "0.4.13"
tower-http = { workspace = true, optional = true }
tracing.workspace = true

calimero-primitives = { path = "../primitives" }
calimero-runtime = { path = "../runtime" }
calimero-identity = { path = "../identity" }
tower-service = "0.3.2"
tower-layer = "0.3.2"
bs58.workspace = true

[[example]]
name = "demo"

[dev-dependencies]
color-eyre.workspace = true
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[features]
graphql = ["dep:async-graphql", "dep:async-graphql-axum", "tower-http/cors"]
