[package]
name = "calimero-server"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
axum.workspace = true
async-graphql = { workspace = true, optional = true }
async-graphql-axum = { workspace = true, optional = true }
eyre.workspace = true
futures-util.workspace = true
multiaddr.workspace = true
rand.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
tokio.workspace = true
tokio-stream = { workspace = true, features = ["signal"], optional = true }
tokio-util = { workspace = true, features = ["rt"] }
tokio-tungstenite.workspace = true
tower-http = { workspace = true, optional = true }
tracing.workspace = true

calimero-primitives = { path = "../primitives" }
calimero-runtime = { path = "../runtime" }

[[example]]
name = "demo"

[dev-dependencies]
color-eyre.workspace = true
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[features]
graphql = ["dep:async-graphql", "dep:async-graphql-axum", "tower-http/cors"]
websocket = ["dep:tokio-stream"]
