[package]
name = "calimero-network"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
eyre.workspace = true
libp2p = { workspace = true, features = ["full"] }
owo-colors.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true

calimero-primitives = { path = "../primitives" }
