[package]
name = "calimero-network"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
bytes.workspace = true
eyre.workspace = true
futures-util.workspace = true
libp2p = { workspace = true, features = [
    "autonat",
    "dcutr",
    "gossipsub",
    "identify",
    "kad",
    "macros",
    "mdns",
    "noise",
    "ping",
    "quic",
    "rendezvous",
    "relay",
    "tokio",
    "tcp",
    "tls",
    "yamux",
] }
libp2p-stream.workspace = true
multiaddr.workspace = true
owo-colors.workspace = true
reqwest.workspace = true
serde = { workspace = true, features = ["derive"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["io-util", "macros"] }
tokio-util = { workspace = true, features = ["codec", "compat"] }
tracing.workspace = true

calimero-primitives.workspace = true

[dev-dependencies]
tokio-test.workspace = true

[lints]
workspace = true
