name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    paths:
      - Cargo.toml
      - Cargo.lock
      - "crates/**"
      - "e2e-tests/**"

env:
  CALIMERO_WEBUI_FETCH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CALIMERO_AUTH_FRONTEND_FETCH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: read

jobs:
  rust:
    name: Rust
    runs-on: ubuntu-24.04-8cpu
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ci-checks
          cache-on-failure: true

      - name: Build
        run: |
          ./scripts/build-all-apps.sh
          cargo build --workspace --all-targets --tests

      - name: Cargo format
        run: |
          rustup toolchain install nightly --component rustfmt

          cargo +nightly fmt -- --check

      - name: Cargo clippy
        if: ${{ !cancelled() }}
        run: cargo clippy -- -A warnings

      - name: Cargo test
        if: ${{ !cancelled() }}
        run: |
          FIRST_HOST=$(ifconfig | grep 'inet ' | grep -v '127.0.0.1' | awk '{print $2}' | head -n 1)

          export TEST_HOSTS=$FIRST_HOST,127.0.0.1,0.0.0.0
          echo $TEST_HOSTS

          cargo test -- --nocapture

      - name: Cargo deny
        if: ${{ !cancelled() }}
        run: |
          cargo install cargo-deny
          cargo deny check licenses sources


