name: PR Comment

on:
  workflow_run:
    workflows: ["e2e-tests", "PR Description", "PR Title"]
    types:
      - completed

jobs:
  submit:
    name: Submit
    runs-on: ubuntu-latest
    if: github.event.workflow_run.event == 'pull_request'

    steps:
      - name: Debug Workflow Run Payload
        env:
          PD: ${{ toJson(github.event.workflow_run) }}
        run: echo "$PD"

      - name: Download artifact
        id: download
        uses: actions/download-artifact@v4
        continue-on-error: true
        with:
          name: pr-comment-payload
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract payload
        id: payload
        if: ${{ steps.download.outcome == 'success' }}
        run: |
          cat payload.json

          echo "pr=$(jq '.pr' payload.json)" >> $GITHUB_OUTPUT
          echo "tag=$(jq '.tag' payload.json)" >> $GITHUB_OUTPUT
          echo "mode=$(jq '.mode' payload.json)" >> $GITHUB_OUTPUT
          echo "message=$(jq '.message' payload.json)" >> $GITHUB_OUTPUT

      - name: Apply pull request comment
        if: ${{ steps.download.outcome == 'success' }}
        uses: thollander/actions-comment-pull-request@v3
        with:
          pr-number: ${{ fromJson(steps.payload.outputs.pr) }}
          comment-tag: ${{ fromJson(steps.payload.outputs.tag) }}
          mode: ${{ fromJson(steps.payload.outputs.mode) }}
          message: ${{ fromJson(steps.payload.outputs.message) }}
