name: Stub (Release)
# ^~~ We run this workflow in-place to ensure that PRs are merged
# without the release workflow being run as it is a required check.

on:
  pull_request:
    paths-ignore:
      - Cargo.toml
      - Cargo.lock
      - "crates/**"

jobs:
  build-binaries:
    name: Build Binaries
    strategy:
      matrix:
        include:
          - os: big-machine
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - os: macos-13
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
    runs-on: ubuntu-latest

    steps:
      - run: echo "Ignored"
