name: Stub (Release)
# ^~~ We run this workflow in-place to ensure that PRs are merged
# without the release workflow being run as it is a required check.

on:
  pull_request:
    paths-ignore:
      - Cargo.toml
      - Cargo.lock
      - "crates/**"

jobs:
  build-binaries:
    name: Build Binaries (${{ matrix.name }})
    strategy:
      matrix:
        include:
          # Keep legacy check names for required status checks.
          - name: ubuntu-24.04-8cpu, x86_64-unknown-linux-gnu
            target: x86_64-unknown-linux-gnu
          - name: ubuntu-24.04-arm, aarch64-unknown-linux-gnu
            target: aarch64-unknown-linux-gnu
          - name: macos-13, x86_64-apple-darwin
            target: x86_64-apple-darwin
          - name: macos-latest, aarch64-apple-darwin
            target: aarch64-apple-darwin
    runs-on: ubuntu-latest

    steps:
      - run: echo "Ignored"
