name: Rust

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

env:
  CARGO_TERM_COLOR: always

jobs:
  setup:
    name: Project setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

        # Install Node.js (version 20) and pnpm
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install pnpm
        run: npm install -g pnpm

      # Install and build node-ui
      - name: Install node-ui dependencies with pnpm
        run: pnpm install --prefix ./node-ui

      - name: Build node-ui
        run: pnpm --filter ./node-ui run build

      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: rustup toolchain install stable --profile minimal

      - name: Run code style checks
        uses: ./.github/actions/style

      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: |
          chmod +x $GITHUB_WORKSPACE/scripts/build-all-apps.sh
          chmod +x $GITHUB_WORKSPACE/scripts/test.sh
          $GITHUB_WORKSPACE/scripts/test.sh
